:root{
    --golden--:#FF900E;
   
}

*{
   

margin: 0%;
padding: 0%;
box-sizing: border-box;
}

/* p for all */
.secondary-font{
    font-weight: 500;
font-size: 16px;
color: #727272;
}


body{
   background-color: white; 
   font-family: 'Open Sans', sans-serif;
   font-family: 'Poppins', sans-serif;
   font-family: 'Work Sans', sans-serif;
  
}

.display{
    
    padding-top: 50px 20px;
    margin: 0 auto;
    width: 100%;
        max-width: 1920px;

}
.container{
    background: rgba(255, 144, 14, 0.1);

    
  
}

/* navigation menu */

nav{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 padding-top: 20px;

}
nav> ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

/* headings */
.head{
    
    
    text-align: center;
  margin-top: 205px;
  margin-left: 529px;
  margin-right: 529px; 
  
  
    
}

.head h1{
   
    font-size: 64px;
}

.head p{
  
    padding-bottom:35px ;
    
}
/* ................
                     buttons
..................... */
.primary-button{
    font-size: 20px;
    border: transparent;
    border-radius: 10px ;
    width: 180px;
    height: 64px;
    color: white;
    background-color: var(--golden--);
}


.banner{
    margin: 50px 240px 45px 240px;
    width: 100%;
    max-width: 1440px;
    height: 700px;
}

/* 2nd parts */
.second-part{
    display: flex;
    
    align-items: center;

    margin-top:95px ;
    margin-left: 301px;
    }

.team-img{
    
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 24px;
}

.team-right{
    width: 537px;
    height: 304px;
    margin-left: 73px;
    
}
.team-right h2 ,p , button{
    padding: 20px;
}

.ash{
    color: #727272;
}
.gold{
    color: var(--golden--);
}

/* third parts */

.third-part{
display: flex;
width: 1440px;
/* height: 1059px; */

margin:130px 0px 240px 240px  ;
}

.features-heading h1{
    font-weight: 700;
    font-size: 45px;

    border-left:5px solid var(--golden--) ;
    padding-bottom: 24px;
}


.all-features{
    margin-top: 30px;
    width: 586px;
    /* height: 744px; */
  
}
.all-features > div{
    margin: 20px;
    padding: 30px;
    padding-bottom: 10px;
}

.features-img{
height: 100%;
width: 100%;
}


.experience{
    
   margin-top: -50%;
  
    color: white;
    background-color: var(--golden--);
    font-weight: 500;
    font-size: 65px;
     border-radius: 8px;
     border: transparent;
}
.experience h2{
    font-weight: 700;
    font-size: 65px;
}

.experience p{

    font-size: 20px;
}
/* fourth part facts */

.facts{
     margin-top: 115px;
     margin-left: 240px;
   
}

.facts h3{
    font-weight: 700;
    font-size: 45px;
}

/* workins count */

.workings{
    margin-top: 40px ;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
   
}

.workings>div{
    padding: 15px;
border-radius: 5px;
    border: 1px solid var(--golden--);
    transition: transform .5s ease-out;
}
.workings>div:hover{
    transform: rotate(360deg);
    border: 1px solid blue;
}
/* sponsors */

.sponsors{
    margin-top: 180px;
    margin-left: 689px;
    margin-right: 689px;
    /* width: 542px;
    height: 129px;  */
text-align: center;
   
}

.sponsors-logo{
    filter: grayscale();
    display: flex;
    justify-content: space-evenly;
    margin: 50px 130px 240px 240px ;
}

/* extra part */


.extra{
    width: 100%;
    max-width: 1250px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    
   
    margin: 10px auto;
    
}

.extra-colum{
    width: 610px;
    
    margin: 0 96px;
}
.extra-title{
    font-weight: 700;
    font-size: 38px;
    padding-bottom: 16px;
}

.extra-des{
    padding-bottom: 16px;
    font-size: 20px;
}

/* this is footer */
footer{
    padding: 38px 410px;
    width: 1440px;
height: 100px;
background: #FFF4E7;
margin: 20px 240px 216px 240px;
}

/* responsive */

@media screen and (max-width:576px) {
   nav{
    flex-direction: column;
   }

   .head ,.banner,
   .team-img ,.team-right, .third-part{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
   }
   .second-part{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    width: 80%;

   }
   .team-img  {
   
   margin-right: 0;
    display: flex;
    flex-direction: column;

   }

.third-part{
flex-direction: column;

}   

.features-left , .features-img ,.all-features, .sponsor-section{
    width: 100%;
   justify-content: center;
   }
   .features-img{
    overflow-x: hidden;
   }
   .experience{
    margin-left: 120px;
    font-size: 30px;
}

.experience h2{
    font-size: 40px;   
}

.facts, .sponsors{
    margin-left: 5px;
    margin-right: 0;
    text-align: center;
}

.workings ,.sponsors-logo{
    flex-direction: column;
  
}

.workings > div{
    margin-bottom: 10px;
}

.sponsors-logo{
    margin: 20px 0;
    gap: 40px;
    align-items: center;
}

footer{
    width: 100%;
margin: 0;
padding: 0 10%;
}
.extra{
    width: 0%;
    
    flex-direction: column-reverse  
    
}

.extra-colum{
    width: 300px;
    margin-bottom: 20px;

}
   }
